<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include include/head.ejs %>
    <title>Resultado</title>
</head>
<body>
    <% include include/header.ejs %>
    <div class="container">
        <div>
            <p>Título: <%=titulo%></p>
            <p>Tema: <%=tema%></p>
            <p>Curso: <%=curso%></p>
            <p>Ano: <%=ano%></p>
            <p>Semestre: <%=semestre%></p>
            <p>Orientadores: <%=orientadores%></p>
        </div>
    </div>
    <% include include/footer.ejs %>
    <% include include/scripts.ejs %>
</body>
</html>