<!DOCTYPE html>
<html>
    <head>
        <% include include/head.ejs %>
        <title>Buscas</title>
    </head>         
    <body>
        <% include include/header.ejs %>
        <main class="form container">
                <h2><%= string%></h2>
                <% if(retorno.length == 0){ %>
                    <h2>Nada Encotrado :(</h2>    
                <% } %>
                <% for(var i=0; i < retorno.length; i++){ %>
                    <div>
                        <p>Título: <%= retorno[i].titulo %> </p>
                        <p>Tema: <%= retorno[i].tema%></p>
                        <p>Curso: <%= retorno[i].curso%></p>
                        <p>Autor: <%= retorno[i].autor%></p>
                        <p>Ano: <%= retorno[i].ano%></p>
                        <p>Semestre: <%= retorno[i].semestre%></p>
                        <p>Orientadores: <%= retorno[i].orientadores%></p>
                        <br>
                    </div>
                <% } %>
        </main>
        <% include include/footer.ejs %>
        <% include include/scripts.ejs %>
    </body>
</html>